@model SistemaNote.Models.Notas

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Anotação</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control" rows="15" cols="100">
                    
                </textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group d-flex flex-wrap gap-2 ">
                <input type="submit" value="Adicionar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Voltar Para Lista</a> |
                <a href="@Url.Action("EncerrarSessao", "Notas")" class="btn btn-primary">Encerrar Sessão de Senha</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
