@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Notação</h1>
    
    <a href="@Url.Action("IndexNotas", "Notas")" class="btn btn-primary btn-lg btn-block">Listar Notas</a>
    <a href="@Url.Action("Create", "Notas")" class="btn btn-primary btn-lg btn-block">Adicionar Notas</a>
    <a href="@Url.Action("RequererSenha", "Notas")" class="btn btn-primary btn-lg btn-block">Senha Desenvolvedor</a>
    <a href="@Url.Action("EncerrarSessao", "Notas")" class="btn btn-primary btn-lg btn-block">Encerrar Seção</a>

</div>


